<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/alejandrorestrepomunoz/Documents/github/Java/DemorestAssured">
        <classes>
            <class name="TestRestAssuredDemo"/>
            <class name="TestGoRestDemo"/>
        </classes>
    </test>
</suite>